<div class="profile-container ">
    <div style="width:100%; padding: 10px 20px;">
        <h2 class="o">Your Profile:</h2>
        <div class=" mt-4" style="display: flex; flex-direction: row;">
            <div style="width: 300px; margin-top: 40px; margin-left: 40px; ">
                <img src="../images/placeholder-man.jpg" alt="" style="max-width:100%; max-height:100%;" ; />
            </div>
            <div
                style="width: calc(100% - 300px); display: flex; flex-direction: column; align-items: center; padding: 0px;">
                <div class="" style="width: 80%;">
                    <div>
                        <h1>Rupesh Maharana<small><small><small style="color: #ff6600">IES Student
                                        2016-20</small></small></small></h1>
                    </div>
                    <br>
                    <table class="profile-table">
                        <tr>
                            <td>Father's Name:</td>
                            <td>Maharana</td>
                        </tr>
                        <tr>
                            <td>
                                Mother's Name:
                            </td>
                            <td>Rubeka</td>
                        </tr>
                        <tr>
                            <td>DoB:</td>
                            <td>15<span class="o">-</span>12<span class="o">-</span>1998</td>
                        </tr>
                    </table>
                    <h4>Contact Details<span class="o">:</span></h4>
                    <table class="profile-table">
                        <tr>
                            <td>Mobile no.</td>
                            <td><span class="o">+91</span>9981981404</td>
                        <tr>
                            <td>Father's mobile no.</td>
                            <td><span class="o">+91</span>9876543210</td>
                        </tr>
                        <tr>
                            <td>Home no.</td>
                            <td><span class="o">0731</span>10010</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td><span class="o">Indore(M.P.)</span></td>
                        </tr>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="" style="display: flex;
            flex-direction: column;
            align-items: center;">
            <div class="profile-otherDetials ">
                <h4>Other details<span class="o">:</span></h4>
                <table class="profile-table">
                    <tr>
                        <td>Compute Code:</td>
                        <td>computer Code</td>
                        <td>Enrollment no:</td>
                        <td>0808cs161136</td>
                    </tr>
                    <tr>
                        <td>CGPA:</td>
                        <td>7.67</td>
                        <td>SGPA:</td>
                        <td>7.80</td>
                    </tr>
                    <tr>
                        <td>Admission year:</td>
                        <td>2016</td>
                        <td>Regular:</td>
                        <td>Yes</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>