<div style="display: flex; justify-content: space-between;"> 
    <div class="sidenav">
        <a class="select" href="Dashboard.jsp">Dashboard</a>
        <a href="profile.jsp">Profile</a>
        <a href="Analytics.jsp" >Analytics</a>
        <a  href="selectCompany.jsp">Company</a>
        <a  href="selectTopic.jsp">Select Topic</a>
        <a href="../testRedirect?for=Mock">Mock Test</a>
        <a href="QandA.jsp">Q and A</a>
    </div>
    <%--<script type="text/javascript">
        $('.sidenav').height($(window).height() - $('header').height());
    </script>--%>



    <style type="text/css">
        .center-front{
            display: flex;
            margin: 20px;
            margin-top: 40px;
            min-width: 60%;
            max-width: 60%;
            padding: 10px;
            padding-top: 30px; 
            flex-direction: column;
            align-items: center;
            color: white;
            background: #13181e;
            font-size: 17px;
        }
    </style>


    <div></div>



    <div style="width: 300px;"></div>



</div>
