<div class="Dashboard-container" >
    <h1 class="o">welcome</h1>
    <div class="Dashboard-notice">
        <h3 class="o">Notice:</h3>
        <div class="alert notice-normal">
            <strong>Lockdown!</strong> College will be closed till further notic from government.
        </div>
        <div class="alert notice-normal">
            <strong>Normal!</strong> This box indicate a normal notic.
        </div>
        <div class="alert notice-warning ">
            <strong>Warning!</strong> This box could indicate warning action.
        </div>
    </div>
    <div class="jumbotron Dashboard-assignment" >
        <h3 class="o">Assignments:</h3>
        <div class="alert notice">
            <strong>New!</strong> Check assignment section for AI and ML assignment.
        </div>
        <div class="alert notice-warning">
            <strong>deadline!</strong> Deadline for Advance Computer Network assignment submission is tomorrow.
        </div>
        <div class="alert notice">
            <strong>test!</strong> This test box indicate nothing.
        </div>
    </div>
    <div class="Dashboard-events">
        <h3 class="o">Events:</h3>
        <div class="alert notice-event">
            <strong>Event!</strong> This alert box could indicate a successful or positive action.
        </div>
    </div>
</div>